<div class="control-group">
  <label for="title" class="control-label">title</label>
  <div class="controls">
    <%- contentTag('input', getitdone.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="status" class="control-label">status</label>
  <div class="controls">
    <%- contentTag('input', getitdone.status, {type:'text', class:'span6', name:'status'}) %>
  </div>
</div>
<div class="control-group">
  <label for="area" class="control-label">area</label>
  <div class="controls">
    <%- contentTag('input', getitdone.area, {type:'text', class:'span6', name:'area'}) %>
  </div>
</div>
<div class="control-group">
  <label for="bestPlace" class="control-label">bestPlace</label>
  <div class="controls">
    <%- contentTag('input', getitdone.bestPlace, {type:'text', class:'span6', name:'bestPlace'}) %>
  </div>
</div>
